{% load static %}
{% static "images" as baseUrl %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=3, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
    <h1>  Please Login Here </h1>
    <form action = "login" method = "POST">
        {% csrf_token %}
        <input type = "text" name = "username" placeholder="username"><br>
        <input type = "password" name = "password" placeholder="password"><br>
        <input type = "submit">

    </form>
    <div>

        {% for message in messages %}
        <h3> {{message}} </h3>
        {% endfor %}
    </div>
    <h2> Thanks for visiting my website </h2>
    <h3> See you again </h3>
     <img src="{% static 'images/login.jpg' %}" alt="HTML5 Icon" width="328" height="128">

</body>
</html>